spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/coursecircle
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "change-me-in-prod-please-change-this-value-32bytes"
