spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/coursecircle
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update   # or validate if you use Flyway/Liquibase soon
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO

jwt:
  secret: "ci-secret-key-change-this-to-longer-string-32"
